# Node
node_modules/
npm-debug.log
package-lock.json

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env

# Docker
.dockerignore

# Jenkins
Jenkinsfile